{% macro edittext(text, id) -%}
  <div>
    Text:<br>
    <textarea name="{{ id }}_text" rows="9" cols="80">{{ text }}</textarea>
  </div>
{%- endmacro %}

{% macro editdict(dict, id) -%}
  <div>
    Variables: <br>
    <p><table border="1">
    {% for key in dict.keys() %}
      <tr>
      <td>{{ key }}</td>
      <td><textarea name="{{ id }}_variables[{{ key }}]" rows = "1" cols="80">{{ dict[key] }}</textarea></td>
      </tr>
    {% endfor %}
    </table></p>
  </div>
{%- endmacro %}

{% macro editkey(key_object, id) -%}
  <div>
    id:<br>
    <textarea name="{{ id }}_keyobject" rows="1" cols="80">{{ key_object }}</textarea>
  </div>
{%- endmacro %}
