<!DOCTYPE html>
<html>
  <head>
    <title>Brevity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <form action="/edit/{{ socket_url_safe_key }}" method="post">
      <div>Text:<br><textarea name="content" rows="9" cols="80">{{ socket_text }}</textarea></div>
      <div>Variables:<br><textarea name="variables" rows="9" cols="80">{{ socket_variables }}</textarea></div>
      <div>Linked node id:<br><textarea name="linked_node" rows="1" cols="80">{{ socket_linked_node }}</textarea></div>
      <div><input type="submit" value="Submit"></div>
    </form>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

